<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Vue App</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>

    <div id="app" class="container">
      <h1>
        <button @click="purge">Purge</button>
        My Todos
        <span class="info">({{ remaining.length }}/{{ todos.length }})</span>
      </h1>

      <!-- パターン① : v-ifを使わなかった場合 -->
      <ul>
        <!-- v- から始まる特殊な属性をディレクティブと呼ぶ -->
        <!-- for文 -->
        <li v-for="(todo, index) in todos">
          <input type="checkbox" v-model="todo.isDone">

          <!-- v-bind:class : todoのisDoneがtrueの場合、doneクラスをつけてくれる -->
          <!-- <span v-bind:class="{done: todo.isDone}">{{ todo.title }}</span> -->
          <!-- v-bindは省略可能 -->
          <span :class="{done: todo.isDone}">{{ todo.title }}</span>
         <!-- deleteItemに何番目のtodoを削除するかし指示するために、上でindexを指定し、
         それをdeleteItemに渡す -->
        <span @click="deleteItem(index)" class="command">[x]</span>
        </li>
        <!-- !todos.length : todosが空だった時(todosがfalseの時) -->
        <li v-show="!todos.length">Nothing to do, yay!</li>
      </ul>

      <!-- <form v-on:submit="addItem"> -->
      <!-- v-onはイベントで、@で省略できる -->
      <!-- 今回は場合、submitすると、addItemというメソッドが渡される -->
      <!-- preventは既定のベージが遷移することを無効化する -->
      <form @submit.prevent="addItem">
        <input type="text" v-model="newItem">
        <input type="submit" value="Add">
      </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
  </body>
</html>
